<!--begin::Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
 
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">


        <!-- {% for menu in site.data.menu %}

        <li class="nav-item">
          <a class="nav-link" href="{{ menu.slug }}">{{ menu.title }}</a>
        </li>
        {% endfor %}  -->

        <style>
          .dropdown-menu-right { 
            right: 0; 
            left: auto; 
        }
        </style>

        {% if site.lang == "en" %}
          {% for link in site.data.menu_en %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link.slug | prepend: site.baseurl_root }}">{{ link.title }}</a>
          </li>
          {% endfor %} 
        {% elsif site.lang == "pt" %}
          {% for link in site.data.menu_pt %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link.slug | prepend: site.baseurl_root }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        {% endif %}
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              {{ site.lang }}
            </a>
            <div class="dropdown-menu dropdown-menu-right  text-center">
              <a class="dropdown-item" href="{{ "/en" | prepend: site.baseurl_root }}">EN</a>
              <a class="dropdown-item" href="{{ "/" | prepend: site.baseurl_root }}">PT</a>
            </div>
          </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="{{ "/posts" | relative_url }}">Posts</a>
        </li> -->

      </ul>
    </div>
</nav>
<!--end::Navigation -->