<!DOCTYPE html>

<html>
<!--begin::Head -->
{% include head.html %}
<!--end::head -->

<body>

  <!--begin::Navbar -->
  {% include navbar.html %}
  <!--end::Navvbar -->

    <!--begin::Content -->
    {{ content }}
    <!--end::Content -->

  <!--begin::Footer -->
  {% include footer.html %}
  <!--end:Footer -->

  <!--begin::Script -->
  {% include scripts.html %}
  <!--end::Script -->

  <!--begin::Google Analycts -->
  {% include google-analytics.html %}
  <!--end::Google Analycts -->

</body>

</html>
