---
layout: default
---

  <!--begin::Header -->
  {% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  <div class="overlay"></div>
  {% elsif page.header-color  %}
  <header class="masthead" style="background-color: #{{ page.header-color }}">
  {% else %}
  <header class="masthead">
  <div class="overlay"></div>
  {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{% t header.title %}</h1>
            <span class="subheading">{% t header.description %}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--end::Header -->

<!--begin::Recent Post and Work -->
<div class="recent">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h5>{% translate recent-section.post %}</h5>
        {% for post in site.posts limit : 1 %}
        <a href="{{ post.url }}">
        <div class="recent__content">
          <div class="recent__title">
            <h4>{{ post.title }}</h4>
          </div>
          <div class="bottom-sec wow fadeIn">
              {{ post.excerpt | strip_html | truncatewords: 15 }}
          </div>
        </div>
        </a>
        {% endfor %}
      </div>
      <div class="col-lg-6">
        <h5>{% translate recent-section.work %}</h5>
        {% for post in site.works limit : 1 %}
        <a href="{{ post.url }}">
        <div class="recent__content">
          <div class="recent__title">
            <h4>{{ post.title }}</h4>
          </div>
            <div class="bottom-sec wow fadeIn">
              {{ post.excerpt | strip_html | truncatewords: 15 }}
          </div>
        </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!--end::Recent Post and Work -->

  <!-- Page Work -->
  <div class="work">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>{% translate work-section.title %}</h2>
          <p>{% translate work-section.description %}</p>
        </div>
        {% for preview_work in site.works limit : 5 %}
          {% if preview_work.featured == true %}
          <div class="row work__content">
            <div class="col-12 col-lg-7">
              <img src="{{ preview_work.thumbnail }}"class="img-fluid" alt="">
            </div>
            <div class="col-12 col-lg-5">
                <span class="work__tag">{{ preview_work.tag }}</span>
                <h4 class="work__title">{{ preview_work.title }}</h4>
                <p class="work__description">{{ preview_work.description }}</p>
                <a href="{{ preview_work.url | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-primary">{% translate work-section.btn %}</a>
            </div>
          </div>
          {% endif %}
        {% endfor %}
    </div>
  </div>
</div>



